{% load contest %}
<h2 class="text-center">{{ contest.title }}</h2>

<div id="timer" class="text-center"></div>

<hr>
<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>start_time</th>
            <th>end_time</th>
            <th>status</th>
            <th>type</th>
            <th>created_by</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ contest.start_time }}</td>
            <td>{{ contest.end_time }}</td>
            <td>{{ contest|contest_status }}</td>
            {% ifequal contest.contest_type 0 %}
                <td>private group contest</td>
            {% endifequal %}
            {% ifequal contest.contest_type 1 %}
                <td>public contest</td>
            {% endifequal %}
            {% ifequal contest.contest_type 2 %}
                <td>public contest(password protected)</td>
            {% endifequal %}
            {% ifequal contest.contest_type 3 %}
                <td>group invitational</td>
            {% endifequal %}

            <td>{{ contest.created_by.username }}</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <div class="text-center">{{ contest.description|safe }}</div>
</div>
<p class="text-center"></p>
