{% extends 'oj_base.html' %}
{% block title %}
    {{ contest.title }}
{% endblock %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation" class="active">
                <a href="/contest/{{ contest.id }}/">/contest</a>
            </li>
            <li role="presentation">
                <a href="/contest/{{ contest.id }}/problems/">/problems</a>
            </li>
            <li role="presentation">
                <a href="/contest/{{ contest.id }}/submissions/">/submissions</a>
            </li>
            <li role="presentation">
                <a href="/contest/{{ contest.id }}/rank/">/rank</a>
            </li>
        </ul>
        {% include "oj/contest/_contest_header.html" %}
    </div>
{% endblock %}
{% block js_block %}
    {% include "oj/contest/_countdown_template.html" %}
    <script src="/static/js/app/oj/contest/contestCountdown.js"></script>
{% endblock %}
