{% extends 'oj_base.html' %}
{% block title %}
    {{ contest.title }}
{% endblock %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation" class="active">
                <a href="/contest/{{ contest.id }}/">/contest</a>
            </li>
            {% if show_tab %}
                <li role="presentation">
                    <a href="/contest/{{ contest.id }}/problems/">/problems</a>
                </li>
                <li role="presentation">
                    <a href="/contest/{{ contest.id }}/submissions/">/submissions</a>
                </li>
                <li role="presentation">
                    <a href="/contest/{{ contest.id }}/rank/">/rank</a>
                </li>
            {% endif %}
        </ul>
        {% include "oj/contest/_contest_header.html" %}
        {% ifequal reason "password_protect" %}
            <div class="form-inline">
                <div class="form-group">
                    <label>password</label>
                    <input type="password" class="form-control" id="contest-password" placeholder="enter the password please">
                </div>
                <button type="button" id="contest-password-btn" class="btn btn-primary">submit</button>
            </div>
        {% endifequal %}
        {% ifequal reason "group_limited" %}
            <div class="alert alert-danger" role="alert">the contest is for specified groups only</div>
        {% endifequal %}
        {% ifequal reason "contest_not_start" %}
            <div class="alert alert-danger" role="alert">the contest is not started yet</div>
        {% endifequal %}
    </div>
{% endblock %}
{% block js_block %}
    {% include "oj/contest/_countdown_template.html" %}
    <script src="/static/js/app/oj/contest/contestPassword.js"></script>
    <script src="/static/js/app/oj/contest/contestCountdown.js"></script>
{% endblock %}
