{% extends 'oj_base.html' %}
{% block title %}
    /contest_submissions_list
{% endblock %}
{% block body %}

    {% load submission %}
    {% load user %}
    <div class="container main">
        <div class="contest-tab">
            <ul class="nav nav-tabs nav-tabs-google">
                <li role="presentation">
                    <a href="/contest/{{ contest.id }}/">/contest</a>
                </li>
                <li role="presentation">
                    <a href="/contest/{{ contest.id }}/problems/">/problems</a>
                </li>
                <li role="presentation" class="active">
                    <a href="/contest/{{ contest.id }}/submissions/">/submissions</a>
                </li>
                <li role="presentation">
                    <a href="/contest/{{ contest.id }}/rank/">/rank</a>
                </li>
            </ul>
        </div>
        <table class="table table-bordered">

            {% if submissions %}
                <thead>
            <tr>
                <th>#</th>
                <th>problem</th>
                <th>usedname</th>
                <th>submit_time</th>
                <th>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" id="languageFilter" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true">
                            language<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="languageFilter">
                            <li><a href="/contest/{{ contest.id }}/submissions/?language=1{% if user_id %}&user_id={{ user_id }}{% endif %}">C</a></li>
                            <li><a href="/contest/{{ contest.id }}/submissions/?language=2{% if user_id %}&user_id={{ user_id }}{% endif %}">C++</a></li>
                            <li><a href="/contest/{{ contest.id }}/submissions/?language=3{% if user_id %}&user_id={{ user_id }}{% endif %}">Java</a></li>
                            <li><a href="/contest/{{ contest.id }}/submissions/{% if user_id %}&user_id={{ user_id }}{% endif %}">remove the filter</a></li>
                        </ul>
                    </div>
                </th>
                <th>running_time</th>
                <th>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" id="resultFilter" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true">
                            result<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="resultFilter">
                            <li><a href="/contest/{{ contest.id }}/submissions/?result=0{% if user_id %}&user_id={{ user_id }}{% endif %}">Accepted</a></li>
                            <li><a href="/contest/{{ contest.id }}/submissions/?result=6{% if user_id %}&user_id={{ user_id }}{% endif %}">Wrong Answer</a></li>
                            <li><a href="/contest/{{ contest.id }}/submissions/?result=1{% if user_id %}&user_id={{ user_id }}{% endif %}">Runtime Error</a></li>
                            <li><a href="/contest/{{ contest.id }}/submissions/?result=2{% if user_id %}&user_id={{ user_id }}{% endif %}">Time Limit Exceeded</a></li>
                            <li><a href="/contest/{{ contest.id }}/submissions/?result=3{% if user_id %}&user_id={{ user_id }}{% endif %}">Memory Limit Exceeded</a></li>
                            <li><a href="/contest/{{ contest.id }}/submissions/?result=4{% if user_id %}&user_id={{ user_id }}{% endif %}">Compile Error</a></li>
                            <li><a href="/contest/{{ contest.id }}/submissions/?result=5{% if user_id %}&user_id={{ user_id }}{% endif %}">Format Error</a></li>
                            <li><a href="/contest/{{ contest.id }}/submissions/{% if user_id %}&user_id={{ user_id }}{% endif %}">remove the filter</a></li>
                        </ul>
                    </div>
                </th>
            </tr>
            </thead>
                <tbody>
                {% for item in submissions %}
                    <tr>
                        <th scope="row">
                            {% if item.show_link %}
                                <a href="/submission/{{ item.id }}/">{{ forloop.counter |add:start_id }}</a>
                            {% else %}
                                {{ forloop.counter |add:start_id }}
                            {% endif %}
                        </th>
                        <th scope="row">
                            <a href="/contest/{{ item.contest_id }}/problem/{{ item.problem_id }}/">{{ item.title }}</a>
                        </th>
                        <td>{{ item.user_id|get_username }}</td>
                        <td>{{ item.create_time }}</td>
                        <td>
                            {{ item.language|translate_language }}
                        </td>
                        <td>
                            {% if item.accepted_answer_time %}
                                {{ item.accepted_answer_time }}ms
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        <td class="alert-{{ item.result|translate_result_class }}">
                            <strong>{{ item.result|translate_result }}</strong>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <p>no submissions yet</p>
            {% endif %}
        </table>

        <nav>
            <ul class="pager">
                {% if previous_page %}
                    <li class="previous">
                        <a href="/contest/{{ contest.id }}/submissions/{{ previous_page }}/?{% if filter %}{{ filter.name }}={{ filter.content }}&{% endif %}{% if user_id %}user_id={{ user_id }}&{% endif %}{% if problem_id %}problem_id={{ problem_id }}&{% endif %}">
                                <span aria-hidden="true">&larr;</span> prev
                        </a>
                    </li>
                {% endif %}
                {% if next_page %}
                    <li class="next">
                        <a href="/contest/{{ contest.id }}/submissions/{{ next_page }}/?{% if filter %}{{ filter.name }}={{ filter.content }}&{% endif %}{% if user_id %}user_id={{ user_id }}&{% endif %}{% if problem_id %}problem_id={{ problem_id }}&{% endif %}">
                            next <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
