{% extends "oj_base.html" %}
{% block title %}
    Login
{% endblock %}
{% block body %}
<div class="container main">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">Login</h2>

        <form id="login-form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control input-lg" id="username" name="username" maxlength="30"
                       data-error="enter the username" placeholder="username" autofocus required autocomplete="off">

                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control input-lg" id="password" name="password" maxlength="30"
                       data-error="enter the password" placeholder="password" required autocomplete="off">

                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group" id="tfa-area">
                <label for="captcha">Two-factor auth</label>
               <input type="text" class="form-control input-lg" id="tfa-code" name="tfa-code"
                      placeholder="TFA code" maxlength="6" data-error="enter the TFA code" required autocomplete="off">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">submit</button>
            </div>
            <a href="/reset_password/">Forget username/password</a><br>
            <a href="/register/">Register</a>

        </form>
    </div>
</div>
{% endblock %}
{% block js_block %}
<script src="/static/js/app/oj/account/login.js"></script>
{% endblock %}
