{% extends "oj_base.html" %}
{% block title %}
    Register
{% endblock %}
{% block body %}
    <div class="container main">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">Register</h2>

            <form id="register-form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control input-lg" id="username" name="username" placeholder="username" data-remote="/api/username_check/" data-remote-error="this username is used!" data-error="enter the username" required autofocus>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="real_name">Real name</label>
                    <input type="text" class="form-control input-lg" id="real_name" name="real_name" placeholder="realname" data-error="enter the realname" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="school">School</label>
                    <input type="text" class="form-control input-lg" id="school" name="school" placeholder="not required, fill if you need to use the course function">
                </div>
                <div class="form-group">
                    <label for="student_id">Student ID</label>
                    <input type="number" class="form-control input-lg" id="student_id" name="student_id" placeholder="not required, fill if you need to use the course function">
                </div>
                <div class="form-group">
                    <label for="email"></label>
                    <input type="email" class="form-control input-lg" id="email" name="email" placeholder="email address" data-remote="/api/email_check/" data-remote-error="this email is used!" data-error="enter an unused email" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control input-lg" id="password" name="password" data-error="enter the password" placeholder="password" data-minlength="6" data-minlength-error="minlength = 6" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm password</label>
                    <input type="password" class="form-control input-lg" id="confirm_password" name="confirm_password"
                           placeholder="confirm password" data-match="#password" data-match-error="different from the previous password" data-error="confirm your password" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="captcha">Captcha</label>
                    &nbsp;&nbsp;<img src="/captcha/" id="captcha-img"><small><p></p></small>
                    <input type="text" class="form-control input-lg" id="captcha" name="captcha" placeholder="captcha" maxlength="4" data-error="enter the captcha" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js_block %}
    <script src="/static/js/app/oj/account/register.js"></script>
{% endblock %}
