{% extends "oj_base.html" %}
{% block title %}
    Retrieve login information
{% endblock %}
{% block body %}
    <div class="container main">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">Retrieve login information</h2><br>
            <br>

            <form id="login-form">
                <div class="form-group">
                    <label for="email">Register email</label>
                    <input type="text" class="form-control input-lg" name="email" value="{{ user.email }}" readonly>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control input-lg" name="username" value="{{ user.username }}" readonly>
                </div>
                <div class="form-group">
                    <label for="new_password">New password</label>
                    <input type="password" class="form-control input-lg" id="new_password" name="new_password"
                           placeholder="new password" maxlength="30" data-minlength="6" data-error="minlength = 6" required>

                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm password</label>
                    <input type="password" class="form-control input-lg" id="confirm_password" name="confirm_password"
                           placeholder="confirm password" maxlength="30" data-match="#new_password" data-error="confirm the password"
                           data-match-error="different from the new password"
                           required>

                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group" id="captcha-area">
                    <label for="captcha">Captcha</label>&nbsp;&nbsp;<img src="/captcha/" id="captcha-img">
                    <small><p></p></small>
                    <input type="text" class="form-control input-lg" id="captcha" name="captcha"
                           placeholder="captcha" maxlength="4" data-error="enter the captcha" required>

                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js_block %}
    <script src="/static/js/app/oj/account/resetPassword.js"></script>
{% endblock %}
