{% extends "oj_base.html" %}
{% block title %}
    Authentication
{% endblock %}
{% block body %}
    <div class="container main">
        <div class="text-center">
                <p>Using account {{ request.user.username }} to login in 3 seconds.<span id="link">{{ callback }}</span></p>
            <button class="btn btn-warning" onclick="location.href='/'">cancel</button>
            <button class="btn btn-success" onclick="location.href='/login/'">change account</button>
                <script>setTimeout(function(){
                    window.location.href = "{{ redirect_url }}"},
                        3000);
                </script>
        </div>
    </div>
{% endblock %}
{% block js_block %}

{% endblock %}
