{% extends "oj_base.html" %}
{% block title %}
    Two-factor authentication
{% endblock %}
{% block body %}
    <div class="container main">

        <div class="col-lg-2">
            <ul class="list-group">
                <li class="list-group-header">settings</li>
                <li class="list-group-item"><a href="/account/settings/">/account</a></li>
                <li class="list-group-item"><a href="/account/settings/avatar/">/avatar</a></li>
                <li class="list-group-item active"><a href="/two_factor_auth/">/two_factor_auth</a></li>
                <li class="list-group-item"><a href="/change_password/">/change_password</a></li>
            </ul>
        </div>

        <div class="col-lg-8">
            {% if not request.user.two_factor_auth %}
                <h3>Scan the QR code to enable TFA.</h3>
                <img src="/api/two_factor_auth/" id="tfa-qrcode">

                <div class="form-inline">
                    <div class="form-group">
                        <label for="tfa_code">TFA code</label>
                        <input type="text" maxlength="6" class="form-control" id="tfa_code"
                               placeholder="enter tfa-code on app">
                    </div>
                    <button type="button" class="btn btn-primary" id="tfa_submit">submit</button>
                </div>

            {% else %}
                <div class="alert alert-success" role="alert">TFA enabled</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js_block %}
    <script src="/static/js/app/oj/account/twoFactorAuth.js"></script>
{% endblock %}
