{% extends "oj_base.html" %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation" class="active">
                <a href="/help/">/help</a>
            </li>
            <li role="presentation">
                <a href="/about/">/about</a>
            </li>
        </ul>
        <div>
            <h2 class="text-center">Judging system</h2>
            <h4>Results</h4>
            <ul>
                <li>Accepted: Your answer is accepted</li>
                <li>Runtime Error: Your program broke when executing (illegal pointer, stack overflow, unhandled exception or non-zero main function return value, etc.).</li>
                <li>Time Limit Exceeded: Your program spent too much time.</li>
                <li>Memory Limit Exceeded: Your program used too much memory.</li>
                <li>Compile Error: Your program couldn't be compiled.</li>
                <li>Wrong Answer: Your answer is wrong.</li>
                <li>System Error: The judging system is broken, please wait for re-judging.</li>
                <li>Waiting: Your answer is waiting for judging.</li>
            </ul>

            <h4>Compiling args</h4>
            <ul>
                <li>C（GCC 4.8）</li>
                <pre>gcc -DONLINE_JUDGE -O2 -w -std=c99 {src_path} -lm -o {exe_path}main</pre>
                <li>C++（G++ 4.3）</li>
                <pre>g++ -DONLINE_JUDGE -O2 -w -std=c++11 {src_path} -lm -o {exe_path}main</pre>
                <li>Java（Oracle JDK 1.7）</li>
                <pre>
//compile
javac {src_path} -d {exe_path}
//run
java -cp {exe_path} Main</pre>

            </ul>

            <h2 class="text-center">Frequent asked</h2>
            <ul>
                <li>Use standard IO if not specified.</li>
                <li>Use <code>int main()</code> for C/C++ code, and the program must <code>return 0;</code>.</li>
                <li>Use  <code>long long</code> for 64-bit integers in C/C++, and use <code>cin/cout</code> or <code>%lld</code> to print them.
                    Using <code>__int64</code> may cause Compile Error.</li>
                <li>Running time stands for the total CPU time, and used memory is the maximum memory used.</li>
                <li>The judging server compares your answer with the standard answer after removing the TRAILING SPACES. If they are not the same, you'll get a Wrong Answer.
                    The spaces after lines and empty lines are NOT ignored. There aren't any Format Errors.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
