{% extends 'oj_base.html' %}
{% block title %}
    /my_application
{% endblock %}
{% block body %}

<div class="container main">
    <ul class="nav nav-tabs nav-tabs-google">
        <li role="presentation">
            <a href="/group/{{ application.group.id }}/">/group</a></li>
        <li role="presentation" class="active">
            <a href="/group/{{ application.group.id }}/applications/">/my_application</a>
        </li>
    </ul>
    <label>message</label>
    <p>{{ application.message|safe }}</p>
    <label>result</label>
    {% if application.status %}
        {% if application.accepted %}
            <p>accepted</p>
        {% else %}
            <p>rejected</p>
        {% endif %}
    {% else %}
        <p>waiting for review</p>
    {% endif %}
</div>
{% endblock %}
