{% extends 'oj_base.html' %}
{% block title %}
    /my_application_list
{% endblock %}
{% block body %}

<div class="container main">
    <ul class="nav nav-tabs nav-tabs-google">
        <li role="presentation">
            <a href="/group/{{ group.id }}/">/group</a></li>
        <li role="presentation" class="active">
            <a href="/group/{{ group.id }}/applications/">/my_application</a></li>
    </ul>
    {% if applications %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>submit_time</th>
            <th>result</th>
        </tr>
        </thead>
        <tbody>
        {% for item in applications %}
        <tr>
            <th scope="row"><a href="/group/application/{{ item.id }}/">{{ forloop.counter }}</a></th>
            <td>{{ item.create_time }}</td>
            {% if item.status %}
                {% if item.accepted %}
                    <td class="alert-success">accepted</td>
                {% else %}
                    <td class="alert-danger">reject</td>
                {% endif %}
            {% else %}
                <td class="alert-warning">waiting for review</td>
            {% endif %}
        </tr>
        {% endfor %}

        </tbody>
    </table>
    {% else %}
    <p>you have never applied to join this group</p>
    {% endif %}
</div>
{% endblock %}
